/** ====================
 * Lista de Comentarios
 =======================*/

.comments-list {
    margin-top: 30px;
    /* margin-bottom: 50px; */
    position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #cccccc;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #cccccc;
    bottom: 0;
    left: 28px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
    display: none;
}

.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #cccccc;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    display: none;
    /* opacity: 0; */
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

.reply-list-active {
    display: block;
    animation: slide 0.3s;
}

@keyframes slide {
    from {
        transform: translate(-30px, 0px);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* @keyframes fade-out {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;
    }
} */

/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 9;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-avatar:hover {
    cursor: pointer;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    /* width: 650px; */
    width: 672px;
    float: right;
    position: relative;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* 왼쪽 뾰족 말풍선 효과 */
.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #ddd;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 600px;
}

.comment-box .comment-head {
    background: #ddd;
    padding: 10px 12px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    white-space: pre-wrap;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c;
}

.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
/* @media only screen and (max-width: 810px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 360px;
    }

    .reply-list .comment-box {
        width: 290px;
    }
} */

.comment-box {
    transition: 0.1s ease-in-out;
}

.comment-box:hover {
    cursor: pointer;
    filter: brightness(0.95);
}

#navbar-threads {
    background-color: rgba(49, 68, 173, 0.8);
}

.header-button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textbox-profile {
    margin-right: 24px;
    width: 65px;
    height: 65px;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loading-button {
    width: 200px;
    height: 62px;
    position: relative;
    background: #6c8bcd;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}

.loading-button:active {
    background: #465b89;
}

.loading-button-text {
    font-size: 17px;
    color: white;
    transition: all 0.2s;
}

.loading-button-circle .loading-button-text {
    visibility: hidden;
    opacity: 0;
}

.loading-button-circle::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 0.4s linear infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.control_button {
    cursor: pointer;
    margin: 3px;
    padding: 15px;
    font-size: 2em;
    color: gray;
    background-color: #eeeeee;
    border-radius: 8px;
    border: #bbbbbb solid 2px;
    /* box-shadow: 1px 1px 2px gray */
}

.control_button:hover {
    background-color: #cccccc;
    color: gray;
}

.control_button:active {
    transform: scale(0.9);
}