# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

    - name: Build with Gradle Wrapper
      run: ./gradlew clean build
      env:
        MYSQL_USERNAME: ${{secrets.MYSQL_USERNAME}}
        MYSQL_PASSWORD: ${{secrets.MYSQL_PASSWORD}}
        GMAIL_PASSWORD: ${{secrets.GMAIL_PASSWORD}}
        JWT_SECRET_KEY: ${{secrets.JWT_SECRET_KEY}}
        AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY}}
        AWS_SECRET_KEY: ${{secrets.AWS_SECRET_KEY}}
        AWS_S3_REGION: ${{secrets.AWS_S3_REGION}}
        AWS_S3_BUCKET: ${{secrets.AWS_S3_BUCKET}}

    # 빌드 파일을 EC2 인스턴스로 전송
    - name: Copy build files to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "./backend/build/libs/backend-0.0.1-SNAPSHOT.jar"
        target: "/home/ubuntu/action/"

    # EC2 인스턴스에서 애플리케이션 실행
    - name: Run application on EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # 8080 포트에서 실행 중인 기존 프로세스 종료
          if lsof -i:8080 -t >/dev/null; then
            kill -9 $(lsof -i:8080 -t)
          fi
          # 새로운 애플리케이션 실행
          nohup bash -c "source /home/ubuntu/.bashrc && java -jar /home/ubuntu/action/backend/build/libs/backend-0.0.1-SNAPSHOT.jar" > /home/ubuntu/action/cgb.log 2>&1 &
